/Vazquez_Perez_AngelMartin_practica3_4BV1_dep01/practica3/practica3/dist/
/Vazquez_Perez_AngelMartin_practica5_4BV1_dep01/practica5/practica5/nbproject/private/
/Vazquez_Perez_AngelMartin_practica5_4BV1_dep01/practica5/practica5/build/
# Ignorar archivos de Word
*.doc
*.docx

# Ignorar archivos PDF
*.pdf
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica5/practica5/build/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica5/practica5/nbproject/private/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica6/practica5/build/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica6/practica5/nbproject/private/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica6/practica6/build/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02/practica6/practica6/nbproject/private/
/Vazquez_Perez_AngelMartin_practica8_4BV1_dep02/practica8/practica8/build/
/Vazquez_Perez_AngelMartin_practica8_4BV1_dep02/practica8/practica8/nbproject/private/
/Vazquez_Perez_AngelMartin_practica8_4BV1_dep02/practica8/practica8/dist/
/Vazquez_Perez_AngelMartin_practica9_4BV1_dep02/practica9/practica9/build/
/Vazquez_Perez_AngelMartin_practica9_4BV1_dep02/practica9/practica9/dist/
/Vazquez_Perez_AngelMartin_practica9_4BV1_dep02/practica9/practica9/nbproject/private/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02 - copia/practica6/practica6/build/
/Vazquez_Perez_AngelMartin_practica6_4BV1_dep02 - copia/practica6/practica6/nbproject/private/
/Vazquez_Perez_AngelMartin_practica7_4BV1_dep02/practica7/practica7/build/
/Vazquez_Perez_AngelMartin_practica7_4BV1_dep02/practica7/practica7/nbproject/private/
/Vazquez_Perez_AngelMartin_practica10_4BV1_dep03/practica10/practica9/build/
/Vazquez_Perez_AngelMartin_practica10_4BV1_dep03/practica10/practica9/nbproject/private/
/olin/ALLIN/nbproject/private/
/olin/ALLIN/build/
/11/pracctica11/nbproject/private/
/11/pracctica11/build/
*.zip
